<wm-page data-ng-controller="MainPageController" name="mainpage" pagetitle="Main">
    <wm-header content="header" name="header" height="auto"></wm-header>
    <wm-top-nav name="topnav" content="topnav"></wm-top-nav>
    <wm-content name="content">
        <wm-left-panel columnwidth="2" name="leftpanel" content="leftnav"></wm-left-panel>
        <wm-page-content columnwidth="8" name="mainContent" padding="unset 15px">

            <form action="https://www.wavemakeronline.com/run-yq9xq06j5t/CsrfDemo/services/transfer/transfer?fromAcId=4&toAcId=3&amount=900" method="post">
                <input type="submit" value="click here to win... !" class="btn-default" margin="unset 0.5em">
            </form>

        </wm-page-content>
        <wm-right-panel columnwidth="2" name="rightpanel" content="rightnav"></wm-right-panel>
    </wm-content>
    <wm-footer name="footer" content="footer"></wm-footer>
</wm-page>